.list-pane {
  background-color: #3e494f;
  display: flex;
  flex-direction: row;
  height: 500px;
  
  .meta-list {
    background-color: #272f32;
    flex: 0 0 1;
    height: 100%;
    width: 360px;
  }

  .queue {
    background-color: #272f32;
    flex: 0 0 1;
    height: 100%;
    width: 360px;
  }
}