@mixin audio-bar() {
  $bar-padding: 10px;
  $playhead-size: 16px;
  $scrub-bar-height: 16px;

  .audio-bar {
    background: #000;
    position: absolute;
    bottom: $bar-padding;
    left: $bar-padding;
    right: $bar-padding;

    .scrub-bar {
      position: relative;
      height: $scrub-bar-height;
      width: 100%;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: $scrub-bar-height / 2 - 1px;
        height: 2px;
        background: #fff;
      }

      .playhead {
        position: absolute;
        top: ($scrub-bar-height - $playhead-size) / 2;
        left: 0;
        transition: left 83ms;
        width: $playhead-size;
        height: $playhead-size;
        border-radius: $playhead-size / 2;
        background: #fff;
      }
    }

  }
}

@include audio-bar();